::-webkit-scrollbar {
	width: 14px;
}

::-webkit-scrollbar-track {
	background-color: hsla(30, 40%, 98%, 0.049);
	border-radius: 20px;

}

::-webkit-scrollbar-thumb {
	background-color: rgb(75, 71, 65);
	border-radius: 20px;
	border: 2px solid transparent;
	background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
	background-color: rgb(104, 100, 90);
}

html {
	scroll-behavior: smooth;
}